.body1{
    background-image:url("https://img.freepik.com/premium-vector/healthcare-medical-science-background-with-icons-symbols-innovation-technology_120542-239.jpg?w=1380");
    background-size: cover;
    height:100vh;
    
}
.im1{
    height:50px;
    width:50px;
}
.im2{
    height:100px;
    width:100px;
}
.h{
    text-align:center;
}
.hi{
    text-align: left;
    padding-left:30px;
}
.im3{
    height:80px;
    width:80px;  
}
.box1{
    background-color:white;
    float: center;
    border:9px solid rgba(242, 242, 6, 0.862);
    border-radius:20px;
    height:170px;
    color:black;
    width:300px;
}



h3{
    padding-top:0px;
    font-size:15px;
}
.div1{
    background-color:rgb(79,78,78);
    border-radius: 50px;
    color:white;
    height: 650px;
    width: 500px;
    float:right;
    margin-left:550px;
    font-family:garamond;
}
.div2{
    padding-right: 250px;
}
button{
    background-color:rgb(0,0,0);
    color:rgb(255,255,255);
    border-radius:10px;
    padding-top:5px;
    padding-bottom:5px;
    font-family:garamond;
}
